body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
}

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
}

nav {
    background-color: #000;
    padding: .5em;
    position: sticky; /* Stick the navigation bar to the top */
    top: 0; /* Position at the top of the viewport */
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* Display navigation items in a row */
    justify-content: space-between; /* Equal space between items */
}

main {
    display: flex;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
}

.photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid; /* Display photos in a row */
    grid-template-columns: 100px 100px;
    grid-gap: 1px; /* Allow photos to wrap to the next line */
}



.feature {
    width: 200px;
    float: left;
    padding: 0em 1em 1em 0em;
}

/* Adjustments for the article and aside layout */
article, aside {
    flex: 1; /* Each takes up equal space */
    margin-right: 20px; /* Add gap between columns */
}


/* Media query for screens smaller than 500px */
@media screen and (max-width: 500px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-bottom: 10px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 980px;
    }

    .photos li {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    article, aside {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    
}