/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #d2a5a5;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #80000094;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 8px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .concert {
    background-color: #cfcbcb8e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 800px; /* Adjusted max-width */
  }
  
  footer {
    background-color: #80000094;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  