body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS';
    color: darkblue;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(209, 62, 32);
    transition: transform 0.5s ease;
}


nav:hover {
    transform: rotate(5deg); 
    font-size: large;
    font: bolder;
}


nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(144, 81, 81);
    
}


img{
    width:30vw;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 120px;
}


#red-ball{
    background-color: blue;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: 97px; 
    }
    100% {
        top: 0;
    }
}